In [25]:
pip install --upgrade yfinance

Requirement already satisfied: yfinance in /home/macedo/venv/lib/python3.10/site-packages (0.2.51)
Requirement already satisfied: pandas>=1.3.0 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (2.2.1)
Requirement already satisfied: requests>=2.31 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (2024.2)
Requirement already satisfied: frozendict>=2.3.4 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /home/macedo/venv/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /home/macedo/venv/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in /home/macedo/venv/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.17.0)
Requirement already satisfied: webencodings in /home/macedo/venv/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/macedo/venv/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/macedo/venv/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/macedo/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/macedo/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/macedo/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/macedo/venv/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

In [28]:
# Import yfinance library
import yfinance as yf

# Define the start and end dates
start_date = '2024-04-01'
end_date = '2024-05-01'

# Define the list of tickers
tickers = ['AAPL', 'MSFT']

historical_prices = yf.download(tickers, start=start_date, end=end_date)

[*********************100%***********************]  2 of 2 completed

In [30]:
print(historical_prices.columns)

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close', 'MSFT'),
            (  'High', 'AAPL'),
            (  'High', 'MSFT'),
            (   'Low', 'AAPL'),
            (   'Low', 'MSFT'),
            (  'Open', 'AAPL'),
            (  'Open', 'MSFT'),
            ('Volume', 'AAPL'),
            ('Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [11]:
import pandas as pd

# Define the list of tickers
sp500_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].to_list()

# Filter out Class B shares that have '.B' in the ticker name
sp500_tickers = [ticker for ticker in sp500_tickers if '.B' not in ticker]

In [33]:
# Define the start and end dates
start_date = '2000-01-01'
end_date = '2024-12-20'

# Download historical prices with adjusted close prices
historical_prices = yf.download(
    sp500_tickers,
    start=start_date,
    end=end_date,
    auto_adjust=False,  # Desativa o ajuste automático para incluir 'Adj Close'
    actions=False       # Remove colunas de dividendos e splits se não forem necessárias
)

[*********************100%***********************]  500 of 500 completed

In [36]:
historical_prices_test = historical_prices.loc[:, historical_prices.columns.get_level_values(0) == 'Adj Close']
historical_prices_test.columns = historical_prices_test.columns.droplevel(0)
historical_prices_test.head()

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.463024,0.843076,NaN,NaN,8.288181,1.277778,NaN,16.274675,28.095690,6.248422,...,NaN,11.282760,NaN,6.848379,18.035824,NaN,4.611940,NaN,25.027779,NaN
2000-01-04,40.142925,0.771997,NaN,NaN,8.051376,1.270833,NaN,14.909399,26.674355,6.183332,...,NaN,10.858904,NaN,7.006069,17.690365,NaN,4.519238,NaN,24.666668,NaN
2000-01-05,37.652866,0.783294,NaN,NaN,8.036577,1.388889,NaN,15.204172,27.063749,6.085701,...,NaN,11.434136,NaN,7.276401,18.654770,NaN,4.542413,NaN,25.138889,NaN
2000-01-06,36.219193,0.715509,NaN,NaN,8.317780,1.375000,NaN,15.328288,26.323889,6.118248,...,NaN,11.969010,NaN,7.208817,19.619160,NaN,4.503788,NaN,23.777779,NaN
2000-01-07,39.237446,0.749401,NaN,NaN,8.406583,1.451389,NaN,16.072989,27.063749,6.215878,...,NaN,11.575426,NaN,7.208817,19.561600,NaN,4.403359,NaN,23.513889,NaN

In [37]:
MIN_REQUIRED_NUM_OBS_PER_TICKER = 100

# Count non-missing values for each ticker
ticker_counts = historical_prices_test.count()
ticker_counts

Ticker
A       6282
AAPL    6282
ABBV    3013
ABNB    1013
ABT     6282
        ...
XYL     3318
YUM     6282
ZBH     5889
ZBRA    6282
ZTS     2992
Length: 500, dtype: int64

In [39]:
# Filter out tickers with fewer than n = MIN... = 100 non-missing values
valid_tickers_mask = ticker_counts[ticker_counts >= MIN_REQUIRED_NUM_OBS_PER_TICKER].index

# Filter the DF based on valid tickers
historical_prices_test = historical_prices_test[valid_tickers_mask]

In [40]:
historical_prices_test.head()

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.463024,0.843076,NaN,NaN,8.288181,1.277778,NaN,16.274675,28.095690,6.248422,...,NaN,11.282760,NaN,6.848379,18.035824,NaN,4.611940,NaN,25.027779,NaN
2000-01-04,40.142925,0.771997,NaN,NaN,8.051376,1.270833,NaN,14.909399,26.674355,6.183332,...,NaN,10.858904,NaN,7.006069,17.690365,NaN,4.519238,NaN,24.666668,NaN
2000-01-05,37.652866,0.783294,NaN,NaN,8.036577,1.388889,NaN,15.204172,27.063749,6.085701,...,NaN,11.434136,NaN,7.276401,18.654770,NaN,4.542413,NaN,25.138889,NaN
2000-01-06,36.219193,0.715509,NaN,NaN,8.317780,1.375000,NaN,15.328288,26.323889,6.118248,...,NaN,11.969010,NaN,7.208817,19.619160,NaN,4.503788,NaN,23.777779,NaN
2000-01-07,39.237446,0.749401,NaN,NaN,8.406583,1.451389,NaN,16.072989,27.063749,6.215878,...,NaN,11.575426,NaN,7.208817,19.561600,NaN,4.403359,NaN,23.513889,NaN