In [2]:
pip install --upgrade matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (165 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /home/macedo/venv/lib/python3.10/site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in /home/macedo/venv/lib/python3.10/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.0.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /home/macedo/venv/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/macedo/venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 15.3 MB/s eta 0:00:00[36m0:00:01[36m0:00:01
Downloading contourpy-1.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (324 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 14.3 MB/s eta 0:00:0031m31.3 MB/s eta 0:00:01
Downloading kiwisolver-1.4.7-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 16.0 MB/s eta 0:00:00
Downloading pillow-11.0.0-cp310-cp310-manylinux_2_28_x86_64.whl (4.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 13.2 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading pyparsing-3.2.0-py3-none-any.whl (106 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.7 matplotlib-3.10.0 pillow-11.0.0 pyparsing-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
# Import yfinance library
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Define the start and end dates
start_date = '2024-04-01'
end_date = '2024-05-01'

# Define the list of tickers
tickers = ['AAPL', 'MSFT']

historical_prices = yf.download(tickers, start=start_date, end=end_date)

[*********************100%***********************]  2 of 2 completed

In [30]:
print(historical_prices.columns)

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close', 'MSFT'),
            (  'High', 'AAPL'),
            (  'High', 'MSFT'),
            (   'Low', 'AAPL'),
            (   'Low', 'MSFT'),
            (  'Open', 'AAPL'),
            (  'Open', 'MSFT'),
            ('Volume', 'AAPL'),
            ('Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [18]:
import pandas as pd

# Define the list of tickers
sp500_tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].to_list()

# Filter out Class B shares that have '.B' in the ticker name
sp500_tickers = [ticker for ticker in sp500_tickers if '.B' not in ticker]

In [19]:
# Define the start and end dates
start_date = '2000-01-01'
end_date = '2024-12-20'

# Download historical prices with adjusted close prices
historical_prices = yf.download(
    sp500_tickers,
    start=start_date,
    end=end_date,
    auto_adjust=False,  # Desativa o ajuste automático para incluir 'Adj Close'
    actions=False       # Remove colunas de dividendos e splits se não forem necessárias
)

[*********************100%***********************]  500 of 500 completed

In [36]:
historical_prices_test = historical_prices.loc[:, historical_prices.columns.get_level_values(0) == 'Adj Close']
historical_prices_test.columns = historical_prices_test.columns.droplevel(0)
historical_prices_test.head()

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.463024,0.843076,NaN,NaN,8.288181,1.277778,NaN,16.274675,28.095690,6.248422,...,NaN,11.282760,NaN,6.848379,18.035824,NaN,4.611940,NaN,25.027779,NaN
2000-01-04,40.142925,0.771997,NaN,NaN,8.051376,1.270833,NaN,14.909399,26.674355,6.183332,...,NaN,10.858904,NaN,7.006069,17.690365,NaN,4.519238,NaN,24.666668,NaN
2000-01-05,37.652866,0.783294,NaN,NaN,8.036577,1.388889,NaN,15.204172,27.063749,6.085701,...,NaN,11.434136,NaN,7.276401,18.654770,NaN,4.542413,NaN,25.138889,NaN
2000-01-06,36.219193,0.715509,NaN,NaN,8.317780,1.375000,NaN,15.328288,26.323889,6.118248,...,NaN,11.969010,NaN,7.208817,19.619160,NaN,4.503788,NaN,23.777779,NaN
2000-01-07,39.237446,0.749401,NaN,NaN,8.406583,1.451389,NaN,16.072989,27.063749,6.215878,...,NaN,11.575426,NaN,7.208817,19.561600,NaN,4.403359,NaN,23.513889,NaN

In [37]:
MIN_REQUIRED_NUM_OBS_PER_TICKER = 100

# Count non-missing values for each ticker
ticker_counts = historical_prices_test.count()
ticker_counts

Ticker
A       6282
AAPL    6282
ABBV    3013
ABNB    1013
ABT     6282
        ...
XYL     3318
YUM     6282
ZBH     5889
ZBRA    6282
ZTS     2992
Length: 500, dtype: int64

In [39]:
# Filter out tickers with fewer than n = MIN... = 100 non-missing values
valid_tickers_mask = ticker_counts[ticker_counts >= MIN_REQUIRED_NUM_OBS_PER_TICKER].index

# Filter the DF based on valid tickers
historical_prices_test = historical_prices_test[valid_tickers_mask]

In [40]:
historical_prices_test.head()

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.463024,0.843076,NaN,NaN,8.288181,1.277778,NaN,16.274675,28.095690,6.248422,...,NaN,11.282760,NaN,6.848379,18.035824,NaN,4.611940,NaN,25.027779,NaN
2000-01-04,40.142925,0.771997,NaN,NaN,8.051376,1.270833,NaN,14.909399,26.674355,6.183332,...,NaN,10.858904,NaN,7.006069,17.690365,NaN,4.519238,NaN,24.666668,NaN
2000-01-05,37.652866,0.783294,NaN,NaN,8.036577,1.388889,NaN,15.204172,27.063749,6.085701,...,NaN,11.434136,NaN,7.276401,18.654770,NaN,4.542413,NaN,25.138889,NaN
2000-01-06,36.219193,0.715509,NaN,NaN,8.317780,1.375000,NaN,15.328288,26.323889,6.118248,...,NaN,11.969010,NaN,7.208817,19.619160,NaN,4.503788,NaN,23.777779,NaN
2000-01-07,39.237446,0.749401,NaN,NaN,8.406583,1.451389,NaN,16.072989,27.063749,6.215878,...,NaN,11.575426,NaN,7.208817,19.561600,NaN,4.403359,NaN,23.513889,NaN

In [28]:
import sys
import os
# Manually set the path relative to the py file's location that you want to import
func_lib_path = os.path.abspath(os.path.join(os.getcwd(),'../'))

# Add the path to sys.path
sys.path.append(func_lib_path)

# Now you can import func_lib
import func_lib

In [ ]:
historical_prices = func_lib.createHistPrices('2000-01-01', '2024-12-20')
historical_prices.head()

[****                   8%                       ]  42 of 500 completed